body {
  font-size: em(15);
  font-family: $body-font;
  color: $text-color;
  transition: all 0.2s linear;
  margin: 0 auto;
}

.wrapper {
  min-width: 260px;
  max-width: 1150px;
  margin: 0 auto;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  font-family: $body-font;
  color: $black;
}

h3 {
  font-size: em(25);
}

h4 {
  font-size: em(18);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.button__write-review,
.product-card__button {
  color: $text-color;
  text-transform: uppercase;
  text-decoration: none;
}

.button__icon {
  display: inline-block;
  width: 20px;
  height: 19px;
  background-image: url("../img/icon-cart.svg");
  opacity: 0.2;
  background-repeat: no-repeat;
  cursor: pointer;
}

.hidden {
  display: none;
}
