.header {
  background: $white;
  max-width: 320px;
}

.header-top {
  position: relative;

  &__logo {
    height: 35px;
    margin: 0 auto;
    padding: 22px 0;
    width: 85px;

    &:hover {
      opacity: .6;
    }
  }
}

.btn-menu {
  position: absolute;
  top: 25px;
  right: 20px;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  background: none;
  border: 0;
  cursor: pointer;

  span {
    background: $black;
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 20px;

    &::before,
    &::after {
      background: $black;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      transform-origin: 50% 50%;
      width: 20px;
    }

    &::before {
      top: 5px;
    }

    &::after {
      top: -5px;
    }
  }
}

.menu {
  @include no-list;
  display: none;

  &__item {
    border-top: 1px solid #ececec;
    position: relative;
  }

  &__link {
    color: $black;
    display: block;
    font-family: $body-font;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 34px;
    padding-left: 75px;
    padding-top: 31px;
    text-decoration: none;

    &-icon {
      left: 0;
      margin-left: 25px;
      opacity: .2;
      position: absolute;
    }
  }
}

.page-title {
  height: 490px;
  margin-bottom: 0;
  position: relative;

  &__bg-image {
    background-image: url('../img/hero-mobile@1x.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    height: 294px;
  }

  &__text {
    position: absolute;
    width: 250px;
    top: 0;
    font-family: $body-font;
    font-weight: bold;
    font-size: 27px;
    padding: 0 37px;
    text-align: center;
  }
}

.item-box {
  min-width: 320px;
  position: relative;

  &__link {
    box-sizing: border-box;
    color: $white;
    display: block;
    font-family: $body-font;
    font-size: 19px;
    font-weight: bold;
    padding: 30px;
    position: relative;
    text-decoration: none;
    width: 100%;

    &:hover {
      opacity: .9;
      padding: 35px 30px;
      }

    &--interior {
      background-color: $lightgreen;
    }

    &--games {
      background-color: $darkgreen;
      display: block;
    }
  }

  &__icon {
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: .2;
    position: absolute;

    &--interior {
      background-image: url('../img/icon-interior.svg');
      height: 62px;
      right: 36px;
      width: 40px;
    }

    &--games {
      background: url('../img/icon-toy.svg') 0 0 no-repeat;
      height: 60px;
      right: 26px;
      width: 60px;
    }
  }
}
