.howto {
  padding: 0 30px;

  @include tablet {
    padding: 0 50px;
  }
}

.container {
  width: 260px;
  margin-top: 30px;
  border: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @include tablet {
    width: auto;
  }


  @include desktop {
    align-items: baseline;
    flex-wrap: wrap;
    height: 456px;
  }
}

.howto__title {
  order: -1;
  padding: 25px;
  padding-left: 0;
  margin: 0;
  margin-left: 90px;
  font-size: em(17);

  @include tablet {
    order: 0;
    margin-left: 105px;
    padding-top: 38px;
    padding-right: 50px;
    padding-bottom: 30px;
    font-size: em(20);
  }


  @include desktop {
    align-self: flex-start;
    width: 20px;
    margin-left: 0;
    margin-top: 96px;
    margin-bottom: 32px;
    padding: 0;
    box-sizing: border-box;
  }


  &::before {
    display: flex;
    content: "";
    background: url("../img/icon-video.svg") no-repeat;
    width: 32px;
    height: 32px;

    @include desktop {
      padding-bottom: 20px;
    }
  }
}

.howto__description {
  margin: 17px 33px;
  font-size: em(13);

  @include tablet {
    margin: 0 40px;
    font-size: em(15);

    @include desktop {
      width: 22%;
      margin: 0;
      box-sizing: border-box;
    }
  }
}

.howto__button {
  @include button;

  color: black;
  text-decoration: none;
  text-align: center;
  margin: 27px 33px 32px;
  box-sizing: border-box;

  @include tablet {
    margin: 36px 40px 46px;
  }


  @include desktop {
    width: 22%;
    margin: 48px 0;
  }
}

.howto__img {
  @include tablet {
    width: 683px;
    height: 456px;
  }


  @include desktop {
    margin-right: 18px;
  }
}
