.overlay {
  background: rgba(#fff, 0.9);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  &.active {
    display: block;
  }
}

.popup-add-to-cart {
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 11;

  box-sizing: border-box;
  padding: 45px 110px;
  background: #fff;
  display: none;

  &.active {
    display: block;
  }
}

.popup-add-to-cart__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: em(25);
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.popup-add-to-cart__choose-size {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 30px;
}

.popup-add-to-cart__form {
  display: flex;
  flex-direction: column;

  input:checked + label {
    border: 2px solid #63d1bb;
  }
}

.popup-add-to-cart__size-toggle {
  display: inline-block;
  margin-bottom: 30px;
  width: 80px;
  height: 50px;
  border: 2px solid #ececec;
  font-size: 17px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
}

.popup-add-to-cart__form input {
  display: none;
}

.popup-add-to-cart__add-btn {
  @include button;

  border-color: #63d1bb;
  color: #63d1bb;

  &:hover {
    background: #63d1bb;
    color: #fff;
  }
}
