.product-card {
  padding: 0 em(30);

  &__title {
    font-size: em(24);
  }

  &__status {
    font-weight: bold;
    font-size: em(17);
    color: $lightgreen;
    text-transform: uppercase;
  }
}

.feature {
  @include no-list;

  margin-bottom: 30px;
}

.feature__item {
  line-height: em(40);
  border-bottom: 1px solid $darkgray;
}

.feature__type {
  display: inline-block;
  width: 100px;
}

.product-card__price {
  display: table;
  margin: 0 auto;
  font-size: em(17);
  line-height: 70px;
  text-align: center;
  color: $text-color;
}

.product-card__button {
  margin-bottom: 70px;
}

@include tablet {
  .product-card {
    padding: 0 em(50);

    @include clearfix;

    .product-card__title {
      font-size: em(43);
      display: inline-block;
    }

    .product-card__status {
      float: right;
      width: 70px;
      height: 33px;
      text-align: center;
      line-height: 17px;
    }

    .product-card__description {
      display: block;
      width: 43%;
    }

    .feature {
      margin-top: 35px;
      display: block;
      width: 43%;
      margin-bottom: 35px;
    }

    .product-card__img {
      background: url("../img/triple-set-tablet.jpg") top right no-repeat;
      display: inline-block;
      width: 334px;
      height: 404px;
      float: right;
      margin-top: -250px;
    }

    .product-card__price {
      display: block;
      width: 43%;
      margin: 0;
    }

    .product-card__button {
      margin-top: 30px;
      display: block;
      width: 43%;
    }
  }
}


@include desktop {
  .product-card {
    padding: 0 50px 0 225px;

    @include clearfix;

    .product-card__title {
      position: relative;
      font-size: em(43);
      display: inline-block;
    }

    .product-card__status {
      position: absolute;
      left: 0;
      width: 70px;
      height: 33px;
      text-align: center;
      line-height: 17px;
    }

    .product-card__description {
      display: block;
      width: 43%;
    }

    .feature {
      margin-top: 35px;
      display: block;
      width: 43%;
      margin-bottom: 35px;
    }

    .product-card__img {
      background: url("../img/triple-set-tablet.jpg") top right no-repeat;
      display: inline-block;
      width: 334px;
      height: 404px;
      float: right;
      margin-top: -250px;
    }

    .product-card__price {
      display: block;
      width: 43%;
      margin: 0;
    }

    .product-card__button {
      margin-top: 30px;
      display: block;
      width: 43%;
    }
  }
}
