.reviews {
  min-width: 260px;
  position: relative;
  padding: 0 30px;

  @include tablet {
    padding: 0 50px;
    box-sizing: border-box;
    padding: 80px 50px;
    background-image: url("../img/review@1x.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    width: 100%;
    height: 457px;
    margin-bottom: 40px;

    @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {

        background-image: url("../img/review@2x.jpg");
        background-size: auto 100%;
    }
  }


  @include desktop {
    margin-bottom: 65px;
    width: auto;
    padding: 80px 50px 0 225px;
  }
}

.reviews__headline {
  @include tablet {
    margin-top: 0;
    font-size: em(43);
  }


  @include desktop {
    font-size: em(53);
  }
}

.slider-review__text {
  font-size: em(15);
  line-height: 30px;
}

.slider-review__author-name {
  font-weight: bold;
  font-size: em(18);
  color: $black;
}

.slider-review__author-contact {
  font-size: em(18);
  color: $text-color;
}

.reviews__controls {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  align-content: stretch;

  @include tablet {
    justify-content: flex-end;
  }
}

.button__control {
  padding: 16px;
  width: 50%;
  height: 52px;
  margin-bottom: 40px;
  background-color: transparent;
  border: 1px solid $darkgray;

  &--left {
    display: flex;
    background: url("../img/icon-left-arrow.svg") no-repeat;
    background-position: 50% 50%;
  }

  &--right {
    background: url("../img/icon-right-arrow.svg") no-repeat;
    background-position: 50% 50%;
  }
}

.button__write-review {
  @include button;

  text-align: center;
  flex-basis: 100%;
  margin-bottom: 40px;

  @include tablet {
    position: absolute;
    top: 80px;
    width: 175px;
    box-sizing: border-box;
  }


  @include desktop {}
}

@include tablet {
  .slider-review__text {
    color: $text-color;
    margin-bottom: 30px;
    font-size: em(17);
  }

  .slider-review__author-name {
    display: block;
    margin-bottom: 10px;
  }

  .reviews__controls {
    margin-top: -47px;
  }

  .button__control {
    margin: 0;
    border: none;
    width: 87px;
  }
}


@include desktop {
  .slider-review__text {
    color: $text-color;
    margin-bottom: 30px;
    font-size: em(17);
  }

  .slider-review__author-name {
    display: block;
    margin-bottom: 10px;
  }

  .reviews__controls {
    margin-top: -47px;
  }

  .button__control {
    display: flex;
    margin: 0;
    border: none;
  }
}
