$text-color: #444;
$font-size: 15;
$body-font: "OpenSans", Arial, sans-serif;
$black: #000;
$white: #fff;
$lightgreen: #63d1bb;
$darkgreen: #56c3b2;



@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/opensans.woff") format("woff"),
  url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  font-style: normal;

  src: url("../fonts/opensansbold.woff") format("woff"),
  url("../fonts/opensansbold.woff2") format("woff2");
}
